@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
$primary: #F36501;
$second: #072B45;
$linear: linear-gradient(266.13deg, #FF6B00 0%, #FFB800 100%);
$text-color: #545454;

body {
    font-family: 'noto sans TC';
    letter-spacing: 0.05em;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.bg {
    &-orange { background-color: $primary; }
    &-blue { background-color: $second; }
}

.container {
    padding: 0 20px;
}

main {
    overflow: hidden;
}

.title {
    font-size: 50px;
    font-weight: 600;
    @media screen and (max-width: 767px) {
        font-size: 40px;
    }
    @media screen and (max-width: 450px) {
        font-size: 32px;
    }
}

.content {
    font-size: 22px;
    @media screen and (max-width: 767px) {
        font-size: 16px;
    }
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    &_logo {
        background-color: rgba(255,255,255,0.85);
        height: 70px;
        padding: 0 25px;
        display: flex;
        align-items: center;
        width: fit-content;
        img {
            width: 200px;
        }
    }
    @media screen and (max-width: 991px) {
        &_logo {
            height: 60px;
            img {
                width: 150px;
            }
        }
    }
}

.banner {
    padding: 13vw 0;
    background-image: url(../img/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &_title {
        color: #fff;
        font-size: 60px;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        font-weight: 600;
        margin-bottom: 10px;
    }
    &_subTitle {
        // z-index: 1;
        >div {
            margin: 0;
            padding: 5px 15px;
            width: fit-content;
            transform: skewX(20deg);
            &:nth-child(2) {
                margin-left: 150px;
                transform: translateY(-3px) skewX(20deg);
            }
            h2 {
                color: #fff;
                font-size: 16px;
                margin: 0;
                transform: skewX(-20deg);
            }
        }
    }
    @media screen and (max-width: 991px) {
        padding: 20vw 0;
        &_title {
            font-size: 46px;
        }
        &_subTitle {
            >div {
                h2 {
                    font-size: 14px;
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        padding: 30vw 0;
    }
    @media screen and (max-width: 450px) {
        padding: 40vw 0;
        &_subTitle {
            >div {
                &:nth-child(2) {
                    margin-left: 100px;
                }
            }
        }
    }
}

.step {
    padding-top: 100px;
    &_title {
        text-align: center;
        position: relative;
        margin-bottom: 90px;
        &_main {
            padding: 7px 20px 9px;
            background: $linear;
            color: #fff;
            width: fit-content;
            margin: 0 auto;
            transform: skewX(20deg);
            h3 {
                margin: 0;
                font-weight: 500;
                font-size: 32px;
                transform: skewX(-20deg);
            }
        }
        &_second {
            padding: 10px 15px;
            background-color: $second;
            color: #F0F0F0;
            width: fit-content;
            transform: skewX(-20deg);
            position: absolute;
            left: calc(50% - 60px);
            top: 48px;
            h4 {
                margin: 0;
                font-weight: normal;
                font-size: 15px;
                transform: skewX(20deg);
            }
        }
    }
    .row {
        margin-left: -43px;
        margin-right: -43px;
        >div {
            padding-left: 43px;
            padding-right: 43px;
        }
    }
    &_item {
        &_title {
            margin: 0 auto 25px;
            width: fit-content;
            border: 1px solid $primary;
            transform: skewX(15deg);
            padding: 5px 20px;
            h5 {
                margin: 0;
                color: $primary;
                font-size: 20px;
                transform: skewX(-15deg);
            }
        }
        img {
            width: 100%;
            margin-bottom: 35px;
        }
        p {
            color: $text-color;
            font-size: 15px;
            margin: 0;
        }
    }
    &_contact {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 52px;
        border-radius: 100px;
        background: $linear;
        color: #fff;
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
        font-size: 20px;
        margin: 50px auto 0;
        transition: 0.3s;
        &:hover {
            color: #fff;
            transform: scale(1.1);
        }
    }
    @media screen and (max-width: 991px) {
        >.container {
            max-width: inherit;
        }
        .row {
            margin: 0;
            >div {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        &_item {
            &_title {
                padding: 5px 15px;
                h5 {
                    font-size: 17px;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        >.container {
            // max-width: 400px;
        }
        .row {
            >div {
                margin-bottom: 60px;
            }
        }
        &_item {
            &_title {
                h5 {
                    font-size: 20px;
                }
            }
            img {
                max-width: 400px;
                display: block;
                margin: 0 auto 25px;
            }
            p {
                max-width: 400px;
                margin: 0 auto;
            }
        }
        &_contact {
            margin-top: 0;
        }
    }
    @media screen and (max-width: 575px) {
        &_title {
            // padding: 0 20px;
            &_main {
                margin: 0;
            }
            &_second {
                left: inherit;
                right: 20px;
            }
        }
    }
    @media screen and (max-width: 450px) {
        &_title {
            &_main {
                h3 {
                    font-size: 26px;
                }
            }
            &_second {
                top: 38px;
                right: 0;
                h4 {
                    font-size: 12px;
                }
            }
        }
        .row {
            >div {
                padding: 0;
            }
        }
    }   
}

.ai {
    margin-top: 100px;
    padding: 105px 0;
    background-image: url(../img/ai_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    &_bg {
        position: absolute;
        width: 58%;
        top: 0;
        left: 0;
        z-index: -1;
    }
    >.container {
        padding: 0 50px;
        z-index: 5;
    }
    h4 {
        width: 45%;
        color: #fff;
        font-size: 60px;
        font-weight: 600;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0;
    }
    &_intro {
        width: 55%;
        &_item {
            width: 70%;
            background: rgba(255, 255, 255, 0.95);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            padding: 25px 35px;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 5px;
                height: 100%;
                background-color: $primary;
                top: 0;
                left: 0;
            }
            img {
                width: 60px;
            }
            &:nth-child(2) {
                margin-top: -10px;
                margin-left: 85px;
            }
            &:nth-child(3) {
                margin-top: -10px;
                margin-left: 170px;
            }
        }
        &_text {
            padding-left: 35px;
            width: calc(100% - 60px);
            h5 {
                color: $primary;
                font-size: 18px;
                margin-bottom: 2px;
            }
            p {
                color: #848484;
                margin: 0;
                font-size: 15px;
            }
        }
    }
    @media screen and (max-width: 991px) {
        h4 {
            font-size: 52px;
            width: 300px;
        }
        >.container {
            max-width: inherit;
            padding: 0 20px;
        }
        &_intro {
            width: calc(100% - 300px);
            &_item {
                padding: 25px;
                &:nth-child(2) {
                    margin-left: 50px;
                }
                &:nth-child(3) {
                    margin-left: 100px;
                }
                img {
                    width: 50px;
                }
            }
            &_text {
                width: calc(100% - 50px);
                padding-left: 15px;
            }
        }
    }
    @media screen and (max-width: 767px) {
        &_bg {
            width: 100%;
        }
        h4 {
            width: 100%;
            text-align: center;
            margin-bottom: 50px;
        }
        &_intro {
            width: 100%;
            &_item {
                margin: 0 auto !important;
                &:nth-child(1) {
                    transform: translateX(-50px);
                }
                &:nth-child(2) {
                    transform: translateY(-10px);
                }
                &:nth-child(3) {
                    transform: translate(50px, -20px);
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        padding: 70px 0;
        &_bg {
            width: 130%;
        }
        h4 {
            font-size: 40px;
        }
        &_intro {
            &_item {
                padding: 20px;
                width: 80%;
                &:nth-child(1) {
                    transform: translateX(-30px);
                }
                &:nth-child(2) {
                    transform: translateY(-5px);
                }
                &:nth-child(3) {
                    transform: translate(30px, -10px);
                }
            }
        }
    }
    @media screen and (max-width: 375px) {
        &_intro {
            &_item {
                img {
                    width: 40px;
                }
            }
            &_text {
                width: calc(100% - 40px);
                p {
                    font-size: 12px;
                }
            }
        }
    }
}

.feature {
    padding-top: 100px;
    background-image: url(../img/ai_bg_3.svg);
    background-size: auto 100%;
    background-position: right 0;
    background-repeat: no-repeat;
    &_item {
        position: relative;
        &:nth-child(even) {
            margin-top: 40px;
            .feature_pic {
                margin-left: auto;
                margin-right: 0;
            }
            .feature_text {
                left: inherit;
                right: 47%;
            }
        }
    }
    &_pic {
        width: 67%;
        >img {
            width: 100%;
        }
    }
    &_text {
        position: absolute;
        background-color: #fff;
        padding: 30px 80px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
        left: 47%;
        bottom: 20%;
        transform: skewX(-35deg);
        max-width: 45%;
        &_inner {
            transform: skewX(35deg);
        }
        &::before {
            position: absolute;
            content: "";
            width: 5px;
            height: 100%;
            background-color: $primary;
            top: 0;
            left: 0;
        }
        h4 {
            font-size: 28px;
            color: $second;
            margin-bottom: 10px;
            font-weight: 600;
        }
        p {
            color: #848484;
            margin: 0;
        }
    }
    @media screen and (max-width: 1199px) {
        &_text {
            padding: 30px 60px;
        }
    }
    @media screen and (max-width: 991px) {
        padding-bottom: 100px;
        &_pic {
            width: 80%;
        }
        &_text {
            bottom: inherit;
            top: 70%;
            left: 40%;
            h4 {
                font-size: 24px;
            }
            p {
                font-size: 14px;
            }
        }
        &_item {
            &:nth-child(even) {
                margin-top: 100px;
                .feature_text {
                    right: 40%;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        &_pic {
            width: 100%;
        }
        &_text {
            left: inherit;
            right: 8%;
            padding: 25px 40px;
            max-width: 55%;
            h4 {
                font-size: 20px;
            }
            p {
                font-size: 12px;
            }
        }
        &_item {
            &:nth-child(even) {
                .feature_text {
                    right: inherit;
                    left: 8%;
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        &_pic {
            width: 130%;
        }
        &_text {
            padding: 20px 50px;
            right: -5%;
            top: 80%;
            max-width: 65%;
        }
        &_item {
            &:nth-child(even) {
                .feature_text {
                    left: -3%;
                    // top: 10%;
                }
            }
        }
    }
    @media screen and (max-width: 500px) {
        &_text {
            max-width: 100%;
        }
    }
}

.platform {
    margin-top: 350px;
    background-image: url(../img/phone_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 120px;
    &_phone {
        max-width: 940px;
        padding: 0 20px;
        width: 100%;
        margin: 0 auto;
        transform: translateY(-230px);
        &_item {
            position: relative;
            width: 25%;
            padding-bottom: calc(25% * 2);
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
                top: 0;
                left: 0;
            }
        }
        &_main, &_swiper {
            width: 90%;
            padding-bottom: calc(90% * 2.14);
            left: 5%;
            position: absolute;
            top: 2%;
            border-radius: 30px;
            overflow: hidden;
            background-color: #000;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
                top: 0;
                left: 0;
            }
        }
        &_swiper {
            .swiper-wrapper {
                width: 100%;
                height: 100%;
                position: absolute;
            }
            .swiper-slide {
                >img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    &_text {
        color: #fff;
        text-align: center;
        margin-top: -100px;
        padding: 0 20px;
        .title {
            margin-bottom: 20px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .content {
            margin: 0;
        }
    }
    @media screen and (max-width: 991px) {
        margin-top: 300px;
        &_phone {
            transform: translateY(-50%);
            &_item {
                width: 30%;
                padding-bottom: calc(30% * 2);
            }
        }
    }
    @media screen and (max-width: 575px) {
        margin-top: 250px;
        &_phone {
            padding-bottom: 30px;
            position: relative;
            &_main {
                border-radius: 20px;
            }
            &_item {
                width: 50%;
                padding-bottom: calc(50% * 2);
                margin: 0 auto;
            }
            .swiper-pagination {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                .swiper-pagination-bullet {
                    background-color: #fff;
                    margin: 0 3px;
                    &-active {
                        background-color: $primary;
                    }
                }
            }
        }
        &_text {
            margin-top: -150px;
        }
    }
    @media screen and (max-width: 450px) {
        margin-top: 300px;
        &_phone {
            &_item {
                width: 60%;
                padding-bottom: calc(60% * 2);
            }
        }
    }
}

.invest {
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    background-image: url(../img/graphic_bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &_pic {
        position: absolute;
        width: 55%;
        left: 9.4%;
        top: -6.78%;
        &_m {
            width: 90%;
            display: block;
            margin: -30px auto 60px;
        }
    }
    &_text {
        position: absolute;
        right: 11%;
        bottom: 16.11%;
        text-align: right;
        .title {
            color: $second;
            margin: 0;
        }
        p {
            color: #848484;
            margin-bottom: 15px;
        }
    }
    @media screen and (max-width: 767px) {
        &_text {
            right: 5%;
            bottom: 10%;
        }
    }
    @media screen and (max-width: 575px) {
        background-image: url(../img/graphic_bg_m.svg);
        background-size: 100%;
        background-position: right bottom;
        background-repeat: no-repeat;
        padding: 0 0 60px;
        &_text {
            position: static;
            text-align: left;
            padding: 0 20px;
        }
    }
}

footer {
    background-color: $second;
    color: #fff;
    text-align: center;
    padding: 8px;
}

.btn-line {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $linear;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 40px;
    bottom: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    img {
        width: 57%;
    }
    &:hover {
        transform: scale(1.1);
    }
    @media screen and (max-width: 575px) {
        width: 50px;
        height: 50px;
        right: 20px;
    }
}